body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.932);
}

.navbar{
    min-height: 120px;
    width: 100%;
    position: fixed;
    font-family: helvetica;
    background-color:black;
    border-bottom: 4px solid white;
    z-index: 200;
}
nav ul{
    float: right;
    margin-right: 0px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 55px 0 0;
}
nav ul li a{
    color: white;
    font-size: 18px;
    transition: color cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav ul li a:hover{
    color: rgb(199, 129, 38);
    font-size: 17px;
}
.logo{
    color: white;
    font-size: 60px;
    margin: 18px;
    line-height: 3;
}
.me{
    text-align: center;
    color: white;
    font-size: 70px;
    margin: 30px 0 0px 0;
    font-family: "Helvetica";
    font-style: normal;
}
.about{
    font-family: "Helvetica";
    color: rgba(255, 255, 255, 0.76);
    text-align: left;
    margin: 30px;
    font-size: 14px;
}
.gray{
    color: gray;
}
.about p{
    font-family: arial, monospace;
}
.divider{
    min-height: 200px;
    margin: 25px;
    display: grid;
    grid-template-columns: 50%, 50%;
    list-style-type: "\1405";
}
